.upload,.user-show,.nn-show,.process
{
  margin: 3rem;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  /* margin-bottom: 2rem; */
  padding-bottom: 1rem;
}

.gap
{
  margin: 3rem;
  /* padding:0; */
}

iframe
{
  width: 56%;
  margin: 10px;
  border: none;
  color:#1a517bfb;
  box-shadow: 0px 0px 59px -4px rgba(0,0,0,1);
}

.bg
{
  background: url('bg.png');
  background-size:100% 100%;
  position: fixed;
  filter: blur(3px); 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

body
{ 
  /* font-family: 'Merriweather'; */
  font-family: 'Prata';
  /* font-family: 'Playfair Display'; */

  position: relative;
  color: white;
  /* width: 100%; */
  text-shadow: 3px 2px 3px #000000;
  /* box-shadow: #000000; */
  box-shadow: 0px 0px 60px -8px rgba(0,0,0,1);
  word-spacing: 4px
}

#file
{
    font-size:20px;
    border: none;
    box-shadow: 0px 0px 60px -4px rgba(0,0,0,1);  
    border-radius: 40px;
    margin-bottom: 2.3rem;
    width: 30%;    
} 

[value="Create Music"],[value="Upload"],.choose::-webkit-file-upload-button
{
  color: #194F77;
  background: #ffffff;
  border: none;
  box-shadow: 0px 0px 59px -4px rgba(0,0,0,1);
  padding: 12px 20px;
  font-weight: 700;
  border-radius: 3px;
  border-radius: 40px;
  font-size: 20px;
  cursor:pointer;
}

nav
{
  /* display: block; */
  width: 99.1%;
  top: 0;
  position: fixed;
}

nav ul
{
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.topnav li
{
  list-style: none;
  float: left;
  text-shadow: none;
}

ul.topnav li.topnav-right
{
  float:right;
}

ul.topnav li a ,footer.foot ul li
{
  display: block;
  text-decoration: none;
  /* padding: 10px; */
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;  
  margin: 0.2rem;
  text-transform:uppercase;
  color: #1a517bfb; 
  /* font-size: 18px; */
  font-size: 1.3rem;
  font-family: ''serif;
  font-weight: 900;
  text-shadow: 0px 0px 1px #1a517bfb;
  box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.5);
  text-align: center;
}

ul.topnav li a:hover,footer.foot ul li:hover,footer.foot h1
{
  background-color: #1E5682;
  padding: 0.7rem;  
  margin: 0.7rem;
  color: white;
  text-shadow: 0px 0px 30px #000000fb;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);
  text-align: center;
  border-radius: 8px;
}

ul.topnav li.dropdownIcon
{
  display: none;
  text-shadow: 3px 2px 3px #1a517bfb;
  box-shadow: 0px 0px 60px -8px rgba(0,0,0,1);
}

.git-hover:hover span,.gt-proj li:hover span
{
  display: none;
}

.git-hover:hover::before
{
  padding: 0.3rem;  
  margin: 2rem;

  color: #ffffff;
  background-color: #245F8B;

  font-family: FontAwesome;
  font-size: 1.8rem;
  content: "\f09b";
}

.gt-proj li:hover::before
{
  /* padding: 0.3rem;  
  margin: 2rem; */

  color: #ffffff;
  background-color: #245F8B;

  font-family: FontAwesome;
  font-size: 1.8rem;
  content: "\f09b";
}


[value="Create Music"]:hover, [value="Upload"]:hover, .choose::-webkit-file-upload-button:hover
{
  font-size: 1.4rem;  
  border:none;
}

.audio_ctrl
{
  color: #194F77;
  border-radius: 30px;
  box-shadow:0px 0px 50px 10px rgba(0,0,0,0.7);
}

.audio_ctrl:hover
{
  padding: 0.35rem;
  /* content: "hello";  */
  margin: 0.5rem;
  /* font-size: 1rem; */
  /* border-radius: 30px; */
  box-shadow:0px 0px 50px 10px rgba(0,0,0,1);
  position: relative;
}

iframe:hover
{
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius:10px;
  box-shadow: 0px 0px 50px 10px rgba(0,0,0,1); 
}

.intro-text
{
  color: white;
  /* width: 90%; */
  margin:1rem;
  padding:1rem;
  font-size: 1.5rem;
  padding-bottom: 0;
  text-align: center;
  /* line-height: 39px; */
  margin-block-start: 1.33em;
}

.intro-text span
{
  /* margin-top: 2rem; */
  font-size: 2rem; 
}

hr.line
{
  /* background-color: #f0f0f0; */
  /* width: 700px; */
  /* float: center; */
  border: none; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left,#194F77, #ffffff, #194F77);
 
}

.flash,.msg1,.msg2
{
  color:rgb(255, 255, 255);
  font-size: 1.2rem !important;
  text-align: center;
  /* margin: auto; */
  /* display: none; */
}

.msg1,.msg2
{
  display: block !important;
  background-color: #0A3D62;
  border-style: solid;
  border-radius: 40px;
  text-shadow: 0px 0px 1px #000000;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.4);
  margin-right: 50rem;
  margin-left: 50rem;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
}

.msg2
{
  margin-right: 54rem;
  margin-left: 54rem;
}



/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

footer.foot
{
  background-color: #ffffff;
  
}

footer.foot a
{
  text-decoration: none;
  
}

footer.foot h1
{
  color:white;
  background-color: #194F77;
  /* text-shadow: none; */
  text-align: center;
  font-size:1.8rem;
  margin: 1rem;
  padding-left: 0;
  padding:0.5rem;
  /* font-size:1.5rem; */
  
}

footer.foot ul
{
  padding-inline-start: 15%;
  padding-right: 0.7rem;
  padding-top: 0.8rem;
  /* margin: 1rem; */
  margin-right: 0;
  width: 70%;
  /* padding-bottom: 1rem; */
  
}

footer.foot ul li
{
  color: #225A85;
  /* font-size: 20px; */
  padding-inline-start: 0px;
  /* padding:0 */
  padding-right: 0;
  font-size:1.2rem
}

footer.foot .report li,footer.foot .gt-proj li
{
  padding:0.92rem;
}

.row
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.row::after
{
  display: table;
  clear: both;
  content: "";
}

.col-3
{
  width: 25%;
  padding: 0;
}


@media screen and (max-width: 720px )
{
  #file
  {
    width: 100%;
  }

  .intro-text
  {
    line-height: 39px;
  }

  iframe
  {
    width: 100%;
  }

  ul.topnav li:not(:nth-child(1))
  {
    display: none;
  }

  ul.topnav li.dropdownIcon
  {
    display: block;
    float: right;
  }

  ul.topnav.responsive li.dropdownIcon
  {
    color: #439cf5;
    position: absolute;
    top: 0;
    right: 0;
}

  ul.topnav.responsive
  {
    position: relative;
  }

  ul.topnav.responsive li 
  {
    display: inline;
    float: none;
  }

  ul.topnav.reponsive li a 
  {
    display: block;
    text-align: left;
  }

  .col-3
  {
      width: 50%;
      display: block;
  }
   
}
